/* Write your CSS here */
.text-description {
  color: #64748b;
  font-family: cursive;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.event-image-set {
  height: 50vh;
  width: 90%;
  margin-left: 5%;
  align-self: center;
}
.register-button {
  background-color: #0967d2;
  padding: 15px;
  color: aliceblue;
  align-self: center;
  align-self: center;
  border-style: none;
  border-radius: 15px;
  font-size: 20px;
  font-family: cursive;
}
.registered-logo {
  height: 100px;
  width: 100px;
  align-self: center;
}
.no-active-event-con {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30%;
}
.yet-to-register-con {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.active-event-con {
  width: 40%;
}
.registered-con {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}
.closed-image-set {
  height: 50vh;
  width: 90%;
  align-self: center;
  margin-left: 5%;
}
.closed-text {
  font-size: 35px;
  font-family: cursive;
  text-align: center;
  color: #323f4b;
  margin: 20px;
}
